.languageContainer {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    background-color: #f9f9f9;
    gap: 40px; 
 
  .languageOption {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 250px; 
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      transform: scale(1.2); 
    }
  
    img {
      width: 70%;
      height: auto;
    }
  }
   }